<nav>
  <span> Healthy You Clinic </span>
  <%= link_to 'Schedule an Appointment', new_appointment_path %> |
  <%= link_to 'Register New Patient', new_patient_path %> |
  <%= link_to 'Register New Doctor', new_doctor_path %>
</nav>

<section>
  <% @appointments.each do |appointment| %>
  <a>
  <div class="appointment_info">
    <p>Date: <%= appointment.date %></p>
    <p>Notes: <% appointment.notes  %></p>
    <%= link_to 'See More', appointment %>
  </div>
  </a>

  <% end %>
</section>
